<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Seçim_Uygulaması.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Seçim_Uygulaması.Properties.Settings>
            <setting name="mail" serializeAs="String">
                <value>huptduyuru@gmail.com</value>
            </setting>
            <setting name="sifre" serializeAs="String">
                <value>Hupt1994+</value>
            </setting>
        </Seçim_Uygulaması.Properties.Settings>
    </userSettings>
</configuration>